<% user_is_author = message.user == current_user %>

<div id="message-<%= message.id %>"
  class="message <%= 'user-is-author' if user_is_author %>"
  data-tontine-subscription-target="message">
  <%= cl_image_tag message.user.photo.key, class: "avatar-chatroom" %>
  <div class="message__content">
    <div class="message__content__author">
      <span class="message__content__name"><%= message.user.first_name %></span class="message__content__name">
      <span class="message__content__datetime">- <%= message.created_at.strftime("%Hh%M") %></span>
    </div>
    <div class="message__content__body"><%= message.body %></div>
  </div>
</div>


