    <% sender = message.user == current_user %>
  <div id="message-<%= message.id %> <%= 'sender' if sender %>">
      <div class="message-content">
      <%= cl_image_tag message.user.photo.key, class:"avatar-chatroom"%>
      <strong><%= message.user.first_name %></strong>
      <i><%= message.created_at.strftime("%H:%M") %></i>
      </div>
     <p><%= message.body %></p>
  </div>  


