<div class="container">
	<div class="dashboard-header">
		<%= cl_image_tag current_user.photo.key, class:"" %>
		<div class="dashboard-header__infos">
			<div class="dashboard-header__infos__name"><%= current_user.full_name %></div>
			<div class="dashboard-header__infos__company"><%= current_user.company %></div>
		</div>
	</div>
 	<%= link_to "Créer une tontine", new_tontine_path, class:"btn-rounded btn purple-btn py-3" %>
 	<% if @pending_tontines.present? %>
	 	<h4 class="underline">Tontine en attente</h4>
		<% @pending_tontines.each do |tontine|%>
			<%= render 'tontines/tontine_card', tontine: tontine %>
		<% end %> 
 	<% end %>
 	<% if @active_tontines.present? %>
		<h4 class="underline">Tontine en cours</h4>
		<% @active_tontines.each do |tontine|%>
			<%= render 'tontines/tontine_card', tontine: tontine %>
		<% end %> 
 	<% end %>
	<div class="d-grid gap-2 m-2">
	</div>
</div>
