<div class="container">
	<div class="dashboard-header">
		<%= cl_image_tag current_user.photo.key, class:"" %>
		<div class="dashboard-header__infos">
			<div class="dashboard-header__infos__name"><%= current_user.full_name %></div>
			<div class="dashboard-header__infos__company"><%= current_user.company %></div>
	    <%= link_to "Se deconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
		</div>
	</div>
 	<%= link_to "Créer une tontine", new_tontine_path, class:"btn-rounded btn purple-btn py-3" %>
	<h4 class="underline">Tontine en cours</h4>
	<% @active_tontines.each do |tontine|%>

		<div class="tontine-card">
			<div class="tontine-card__header">
				<div class="tontine-card__header__name">
					<%= tontine.name %>
				</div>
				<div class="tontine-card__header__contribution">
					<%= tontine.contribution %>€<span>/mois</span>
				</div>
			</div>
			<div class="tontine-card__avatars">
				<% tontine.members.each do |member| %>
					<%= cl_image_tag(member.user.photo.key, width: 200, class: "avatar-large #{'past-position' if member.position < tontine.current_position} #{'current-position' if member.position == tontine.current_position}") %>
				<% end %>
			</div>
		</div>
	<% end %> 
	<div class="d-grid gap-2 m-2">
	</div>
</div>
