<div class="container">
	<div class="card-product m-3">
	  <img class="avatar me-3" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/jrkinouani" />
	  <div class="card-product-infos">
	    <h3><strong><%= current_user.first_name%></strong></h3>
	    <h3><%= current_user.company %>| <%= current_user.email %></h3>
	    	  </div>
	</div>
		<h4>Tontine en cours</h4>
	  <hr class="border border-gray border-2 opacity-50">
		  	<% @tontines.each do |tontine|%>
	   <div class="card-product-tontine m-3">
		  	<%= tontine.name %> <br/>
		  	<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
				<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
				<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
				<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob" /> <br/>
		  <br/>
		  
		  	
		  	<%= tontine.contribution %> €
		  	<h5>Début : <%= tontine.start_month %> €</h5>
		  
		  </div>
		  	<% end %> 
		<div class="d-grid gap-2 m-2">
		 <%= link_to "Créer un compte", new_tontine_path, class:"btn-rounded btn purple-btn py-3" %>
		</div>
	</div>


  <% unless @pending_member.nil? %>
    <% @pending_member.each do |member| %>
    <div>
      <div>
        <%= member.tontine.name %>
      </div>
      <div>
        <%= link_to "Accept", accepte_member_tontine_path(member.tontine) %>
      </div>
      <div>
        <%= link_to "Decline", decline_member_tontine_path(member.tontine) %>
      </div>
    </div>
    <% end %>
  <% end %>


	<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
	  <div class="container-fluid">
	  	<%= link_to "En attente", dashboard_path(status: "pending"), class:"btn btn-warning"%>
	  	<%= link_to "En cours", dashboard_path(status: "active"), class:"btn btn-primary"%>
	  	<%= link_to "Terminée", dashboard_path(status: "done"), class:"btn btn-danger" %>
      </div>
      </div>
	  	<% @tontines.each do |tontine|%>
        <div class="card-trip">
		  <% if tontine.status ==  params[:status]%>
	  	  	  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
	  	  	  <div class="card-trip-infos">
	    		  <div>
		  	  	  	<h2>Nom de la tontine : <%= tontine.name %></h2>
		  	  	  	<h2 class="btn btn-primary"><%= tontine.contribution  %> €/mois</h2>
		  	  	  	<h2>Mois de départ : <%= tontine.start_month %></h2>
		  	  	  	<h2>Jour de paiment : <%= tontine.participants %></h2>
	    		  </div>
    		  </div>
		  <% end %>
		   </div>
	  	<% end %>

</div>
