<div class="container py-5" style="height: 20vh;">
  <%= link_to root_path, class: 'home-link' do %>
    <div class="logo-wrapper d-flex justify-content-center">
      <%= image_tag "img/apple-icon.png", class: 'logo-home' %>
    </div>
      <p class="home-title">TONTINEO</p>
  <% end %>
</div>

<div class="container d-flex justify-content-center flex-column" style="height: 60vh;">
  <h4 class="text-center pb-5"> Financer vos projets à plusieurs, <br/>entre collègues</h4>
  <%= image_tag "img/img_home.png", class: '', style: 'border-radius: 0%;' %>
</div>
<div class="container sticky bottom-0 pb-5 px-4 d-flex flex-column" style="height: 20vh;">
  <!-- Button trigger modal -->
  <button type="button" class="btn-rounded btn btn-outline-primary py-3 mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Comment ça marche ?
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container d-flex justify-content-center flex-column" style="height: 60vh;">
          <h4 class="text-center pb-5"> Financer vos projets à plusieurs, <br/>entre collègues</h4>
          <%= image_tag "img/img_home.png", class: '', style: 'border-radius: 0%;' %>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button", class="btn btn-primary purple-btn">Understood</button>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Créer un compte", new_tontine_path, class:"btn-rounded btn purple-btn py-3" %>
</div>  



