
<h1> Tontineo Profile </h1>

<%# <<%= user_id.first_name %>

<%# <%= cl_image_tag @tontine.cover.key, width: 400, height: 300, crop: :fill crop: :scale, class="rounded "%>
<%# <<%= user.company %>
<%#= image_tag("", :alt => "profile_picture") %>
<%= cl_image_tag @user.photo.key %>
<%# <div>
 <<%= @tontine.name %>
  <%# Montant cible : %>
<%# </div>

<%#
<div>
  <button class="btn btn-primary">
    Créer une tontine
  </button>
</div>


<div>
  Tontines finies



<div> %>
