<div class="inline">
  <img src="" alt="logo">
  <p class="logo_title">Tontineo</p>
</div>


<div>
  <h1 class="tontine_title">  </h1>
</div>


<div class="tontine_description">
  <%= @tontine.name %></p>
  <p> Montant Total :  <%= @tontine.contribution %> € </p>
  <p> Début de la tontine : <%= @tontine.start_month.strftime("%d/%m/%Y") %>
  <p> Date de réception : <%= @tontine.payment_day.strftime("%d/%m/%Y") %></p>
   <div class="members_list">
     <% @tontine.members.each do |member| %>
       <%= member.user.last_name %> <%= member.user.first_name %> <br>
      <% end %>
    </div>

   <p> Statut de la tontine : <%= @tontine.status%></p>
</div>
