
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="_show.css">

<% if @is_owner  %>
  <%= render "tontines/show_admin" %>
<% else %>
<% end %>


<div class="tontine-card">
  <div class="tontine-card__header">
    <div class="tontine-card__header__name">
      <%= @tontine.name %>
    </div>
    <div class="tontine-card__header__contribution">
      <%= @tontine.contribution %>€<span>/mois</span>
    </div>
  </div>
    <div class="date d-flex">
      <div class=" justify-content-start">
         Début <%= @tontine.start_month.strftime("%m/%Y") %>
       </div>
         <div class=" justify-content-end">
         Date fin: <%= (@tontine.start_month + (@tontine.users.count * 30)).strftime("%m/%Y") %>
      </div>
    </div>
      <div class="members_list">
      <% @tontine.members.each do |member| %>
        <div class="card-planning 
        <%= 'past-position' if member.position < @tontine.current_position %> 
        <%= 'current-position' if member.position == @tontine.current_position%> 
        ">
        <%= (@tontine.start_month + (member.position - 1).month).strftime("%B/%Y")  %>
          <div>
        <%= member.user.first_name %>
        <%= cl_image_tag(member.user.photo.key, width: 200, class: "avatar-large")  %>
            
          </div>
      </div>
      <% end %>        
      </div>
</div>
