<img src="" alt="logo" class="d-inline">
<p class="logo_title d-inline">Tontineo</p>


<% if @is_owner  %>
  <%= render "tontines/show_admin" %>
<% else %>
<% end %>


  <div class="tontine_description">
    <%= @tontine.name %></p>
    <p> Montant Total :  <%= @tontine.contribution %> € </p>
    <p> Début de la tontine : <%= @tontine.start_month.strftime("%d/%m/%Y") %>
    <p> Date de réception : <%= @tontine.payment_day.strftime("%d/%m/%Y") %></p>
    <div class="members_list">
      <% @tontine.members.each do |member| %>
        <%= member.user.last_name %> <%= member.user.first_name %> <br>
        <% end %>
      </div>
    <p> Statut de la tontine : <%= @tontine.status%></p>
    </div>
  </div>





<%# <%= render '_show_admin' ,tontine: @tontine %>
