<% content_for :chatroom_link do %>
  <div class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa-regular fa-comments"></i>
  </div>
<% end -%>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="container tontine pb-2"
      data-controller="tontine-subscription"
      data-tontine-subscription-tontine-id-value="<%= @tontine.id %>"
    >
      <h1>#<%= @tontine.name %></h1>
      <div class="messages" data-tontine-subscription-target="messages">
        <% @tontine.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
      <div class="card card-body">
        <%= simple_form_for [@tontine, @message],
           html: {data: {action: 
           "turbo:submit-end->tontine-subscription#resetForm"}, 
            class: "d-flex"} do |f|
        %>
          <%= f.input :body,
            label: false,
            placeholder: "Ecrivez votre message au membre",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Envoyez", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% if @is_owner  %>
  <%= render "tontines/show_admin" %>
<% else %>
<% end %>

  <div class="tontine_description">
    <div>
      <%= @tontine.name %></p>
      <%# <%= cl_image_tag @tontine.cover.key, height: 300, width: 400, crop: :fill , class:"tontine_cover" %>
      <p> Montant Mensuel :  <%= @tontine.contribution %> € </p>
      <p> Début de la tontine : <%= @tontine.start_month.strftime("%d/%m/%Y") %>
      <p> Date de réception : <%= @tontine.payment_day.strftime("%d/%m/%Y") %></p>
      <div class="members_list">
        <% @tontine.users.each do |user| %>
          <%# <%=  @tontine.cover.key, height: 300, width: 400, crop: :fill , class:"tontine_cover" %>
          <div class="d-flex my-2">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar inline", alt: "avatar"%>
              <div class="d-flex flex-column align-items-start ps-3">
                <p class="mb-1"><%= user.first_name %></p>
                <p><%= @tontine.payment_day %></p>
              </div>
            <% else %>
              <%= image_tag 'img/logo.png' %>
              <div class="d-flex flex-column align-items-start ps-3">
                <p class="mb-1"><%= user.first_name %></p>
                <p><%= @tontine.payment_day %></p>
              </div>
            <% end %>
          </div>
          <%# <%= tontines.payment_day %>
        <% end %>
      </div>
      <!--<p> Statut de la tontine : <%= @tontine.status%></p>-->
    </div>
  </div>
