<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid navbar">
    <% if user_signed_in? %>
      <div>
        <%= yield(:navigation) if content_for?(:navigation) %>
      </div>
      <%= link_to dashboard_path, class: 'home-link' do %>
        <div class="logo-wrapper d-flex justify-content-center">
          <%= image_tag "img/apple-icon.png", class: 'logo-home' %>
        </div>
      <% end %>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link log-out" do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end -%>
    <% else %>
      <%= link_to root_path do %>
        <div class="logo-wrapper d-flex justify-content-center">
          <%= image_tag "img/apple-icon.png", class: 'logo-home' %>
        </div>
      <% end -%>
    <% end %>
    </div>
  </div>
</div>
